*.jpg
*.png
*.tif
*.gif


*.mp4
*.avi

*.csv
*.txt
*.odt
*.pdf


*.zip

!*/
!.*/

~*
*~

*.pyc
*.md
*.m

!compara/
!barcodeimages/
!entrega/
!blur/
!frames/
!frames_jsa/
!compara/
!images/
!entrega/
!RecognitionStats/
!prueba/

octave-workspace
