*.jpg
*.png
*.gif
*.tif
*.bmp


*.mp4
*.avi
*.mkv


*.csv

*.pyc
*.py

~*
*~

*.txt
*.pdf
*.zip
*.odt

octave-workspace

!images/
!prueba/
!entrega/
!frames/
!frames-jsa/
!compara/
!barcodeimages/
!blur/
!.*/
!*/

